// fonts

$base-font: "SFPRO", "Arial", sans-serif;


// colors

$system-blue: #007AFF;
$system-red: #FF3B30;
$system-green: #72BF44;
$orange: #FF9500;
$blue-500: #3B82F6;
$gray-800: #1F2937;
$gray-500: #6B7280; 